node_modules
dist
coverage
.git
.github
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
*.pfx
**/*.pfx
*.p12
**/*.p12
*.key
**/*.key
*.dump
**/*.dump
*.backup
**/*.backup
*.log
tsconfig.tsbuildinfo
docs
test
